<footer class="page-footer font-small bg-dark">
        <!-- Copyright -->
    <div class="footer-copyright text-center text-light bg-dark py-3">© 2020 Desenvolvido por
        <a href="https://github.com/JessicaRodriguesdc"> Jéssica Rodrigues da Costa</a>
    </div>
        <!-- Copyright -->
</footer>