<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e6a226;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/"><img src="https://img.icons8.com/flat_round/60/000000/tableware.png"/></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link"  href="/"><b>Home</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pedidos"><b>Pedidos</b></a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="/pratos"><b>Pratos</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/painel-adm"><b>ADM</b></a>
      </li>
    </ul>
    <span class="navbar-text">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
       <li class="nav-item">
        <a class="nav-link" href="/logar"><img src="https://img.icons8.com/ios-glyphs/40/000000/enter-2.png"/></a>
      </li>
      </ul>
    </span>
  </div>
</nav>