<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="/css/bootstrap.css">
    <link rel="stylesheet"  href="/css/rodape.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">

    <title>Go Eat</title>
</head>
<body>
    {{>_menu}}
        <div class="container mt-4">
            {{#if error}}
                <div class="alert alert-danger">{{error}}</div>
            {{else}}
            
            {{/if}}
            {{>_msg}}
            {{{body}}}
        </div>
    <br>
    <br>
    <br> 
    <script>
    </script>

    <div class="rodape">
        {{>_footer}}
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="/js/bootstrap.js"></script>

<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
</html>
