<h3>Pratos</h3>
<div class="row">
    <div class="col-sm container mt-4">
         <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://t1.rg.ltmcdn.com/pt/images/3/8/4/lasanha_de_carne_moida_com_molho_vermelho_7483_600.jpg" alt="Imagem de capa do card"/>
            <div class="card-body">
                <h5 class="card-title">Lasanha</h5>
                <p class="card-text">amo lasanha.</p>
                <a href="#" class="btn btn-dark">Go Eat</a>
            </div>
        </div>
    </div>

    <div class="col-sm container mt-4">
         <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://t1.rg.ltmcdn.com/pt/images/3/8/4/lasanha_de_carne_moida_com_molho_vermelho_7483_600.jpg" alt="Imagem de capa do card"/>
            <div class="card-body">
                <h5 class="card-title">Lasanha</h5>
                <p class="card-text">amo lasanha.</p>
                <a href="#" class="btn btn-dark">Go Eat</a>
            </div>
        </div>
    </div>

    <div class="col-sm container mt-4">
         <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://t1.rg.ltmcdn.com/pt/images/3/8/4/lasanha_de_carne_moida_com_molho_vermelho_7483_600.jpg" alt="Imagem de capa do card"/>
            <div class="card-body">
                <h5 class="card-title">Lasanha</h5>
                <p class="card-text">amo lasanha.</p>
                <a href="#" class="btn btn-dark">Go Eat</a>
            </div>
        </div>
    </div>

    <div class="col-sm container mt-4">
         <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://t1.rg.ltmcdn.com/pt/images/3/8/4/lasanha_de_carne_moida_com_molho_vermelho_7483_600.jpg" alt="Imagem de capa do card"/>
            <div class="card-body">
                <h5 class="card-title">Lasanha</h5>
                <p class="card-text">amo lasanha.</p>
                <a href="#" class="btn btn-dark">Go Eat</a>
            </div>
        </div>
    </div>

    <div class="col-sm container mt-4">
         <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://t1.rg.ltmcdn.com/pt/images/3/8/4/lasanha_de_carne_moida_com_molho_vermelho_7483_600.jpg" alt="Imagem de capa do card"/>
            <div class="card-body">
                <h5 class="card-title">Lasanha</h5>
                <p class="card-text">amo lasanha.</p>
                <a href="#" class="btn btn-dark">Go Eat</a>
            </div>
        </div>
    </div>

    <div class="col-sm container mt-4">
         <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://t1.rg.ltmcdn.com/pt/images/3/8/4/lasanha_de_carne_moida_com_molho_vermelho_7483_600.jpg" alt="Imagem de capa do card"/>
            <div class="card-body">
                <h5 class="card-title">Lasanha</h5>
                <p class="card-text">amo lasanha.</p>
                <a href="#" class="btn btn-dark">Go Eat</a>
            </div>
        </div>
    </div>
    
</div>    