<center><h3>Desconto do Dia</h3></center>

<div class="container">
  <div class="row"  style="background-color: #f3efe3;">
    <div class="col-sm">
         <div class="card-body">
            <h5 class="card-title">Lasanha</h5>
            <h6 class="card-subtitle mb-2 text-muted">Lasanha com frango</h6>
            <p class="card-text">amo lasanha.</p> 
            <Fazer href="#" class="card-link">Fazer Pedido</a>
            <a href="#" class="card-link">go eat</a>
        </div>
    </div>
    <div class="col-sm">
      <div class="card-body">
            <h5 class="card-title">Lasanha</h5>
            <h6 class="card-subtitle mb-2 text-muted">Lasanha com frango</h6>
            <p class="card-text">amo lasanha.</p>
            <Fazer href="#" class="card-link">Fazer Pedido</a>
            <a href="#" class="card-link">go eat</a>
        </div>
    </div>
    <div class="col-sm">
      <div class="card-body">
            <h5 class="card-title">Lasanha</h5>
            <h6 class="card-subtitle mb-2 text-muted">Lasanha com frango</h6>
            <p class="card-text">amo lasanha.</p>
            <Fazer href="#" class="card-link">Fazer Pedido</a>
            <a href="#" class="card-link">go eat</a>
        </div>
    </div>
  </div>
</div>

</br>

<center><h3>Relação do dia</h3></center>
<div class="row">
    <div class="col-sm container mt-4">
         <div class="card" style="width: 100%;">
            <center><h4>Vendas/Entregas</h4></center>

            <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">N°</th>
                <th scope="col">Quanditadade $</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td>60</td>
                <td>2.000,00 $</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm container mt-4">
         <div class="card" style="width: 100%;">
            <center><h4>Vendas/Estabelecimento</h4></center>

            <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">N°</th>
                <th scope="col">Quanditadade $</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td>60</td>
                <td>2.000,00 $</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
          
</div>    