<center><h3>Meus Pedidos</h3></center>
<div class="row">
    <div class="col-sm container mt-4">
         <div style="width: 100%;">
            <center><h4>Entregas</h4></center>

            <table class="table table-responsive">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Data</th>
                <th scope="col">Pedido</th>
                <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td>15/05/2020</td>
                <td>Lasanha</td>
                <td style="color: red;">Andamento</td>
                </tr>
                <tr>
                <th scope="row">2</th>
                <td>15/05/2020</td>
                <td>Macarronada</td>
                <td style="color: green;">Pronto</td>
                </tr>
                <tr>
                <th scope="row">3</th>
                <td>15/05/2020</td>
                <td>Pizza</td>
                <td style="color: rgb(122, 122, 109);">Fila</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm container mt-4">
         <div style="width: 100%;">
            <center><h4>Estabelecimento</h4></center>

            <table class="table table-responsive">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Data</th>
                <th scope="col">Pedido</th>
                <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td>15/05/2020</td>
                <td>Lasanha</td>
                <td style="color: red;">Andamento</td>
                </tr>
                <tr>
                <th scope="row">2</th>
                <td>15/05/2020</td>
                <td>Macarronada</td>
                <td style="color: green;">Pronto</td>
                </tr>
                <tr>
                <th scope="row">3</th>
                <td>15/05/2020</td>
                <td>Pizza</td>
                <td style="color: rgb(122, 122, 109);">Fila</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
          
</div>    