<div class="col-md-7" style="width: 700px; margin: 0 auto;">
  <h3>Editar Produto</h3>
  <br>
 <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="labelPrato">Prato</label>
        <select id="inputPrato" class="form-control">
          <option selected>Escolher...</option>
          <option>Lasanha</option>
          <option>Coxinha</option>
          <option>Pizza</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="labelCliente">Cliente</label>
        <select id="inputCliente" class="form-control">
          <option selected>Escolher...</option>
          <option>Jessica</option>
          <option>Marcelino</option>
          <option>Angelica</option>
        </select>
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="labelStatus">Status</label>
        <select id="inputStatus" class="form-control">
          <option selected>Escolher...</option>
          <option>Andamento</option>
          <option>Pronto</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="labelPreco">Preço</label>
        <input type="number" class="form-control" id="inputPreco" placeholder="0">
      </div>
      <div class="form-group col-md-3">
        <label for="labelTipo">Tipo</label>
        <select id="inputTipo" class="form-control">
          <option selected>Escolher...</option>
          <option>Estabelecimento</option>
          <option>Entrega</option>
        </select>
      </div>
    </div>
    <br>   
    <button type="submit" class="btn btn-dark">Atualizar</button>
  </form>
</div>