<center><h3>Painel Administrativo</h3></center>

<div class="row" style="background-color: #f3efe3;">
    <div class="col-md-3 container mt-4">
         <div style="width: 100%;">
            <center><h4>Total Vendas</h4></center>
            <br>
            <br>
            <h6>Hoje 20/04/2020 </h6>
            <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">N°</th>
                <th scope="col">Quanditadade $</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>120</td>
                <td>4.000,00 $</td>
                </tr>
            </tbody>
            </table>
            <br>
            <h6>Ontem 19/04/2020 </h6>
            <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">N°</th>
                <th scope="col">Quanditadade $</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>120</td>
                <td>4.000,00 $</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-7 container mt-4">
         <div style="width: 100%;">
            <center><h4>Listagens</h4></center>
            <br>
            <br>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <a href="#"><button type="button" class="btn btn-dark" style="width: 13rem;">Listagem de Estoque</button></a>
                </div>
                <div class="form-group col-md-4">
                    <a href="#"><button type="button" class="btn btn-dark" style="width: 13rem;">Listagem de Pedidos</button></a>
                </div>
                <div class="form-group col-md-4">
                    <a href="#"><button type="button" class="btn btn-dark" style="width: 13rem;">Listagem de Produtos</button></a>
                </div>
                <div class="form-group col-md-4">
                    <a href="#"><button type="button" class="btn btn-dark" style="width: 13rem;">Listagem de Funcionarios</button></a>
                </div>
                <div class="form-group col-md-4">
                    <a href="#"><button type="button" class="btn btn-dark" style="width: 13rem;">Listagem de Clientes</button></a>
                </div>
            </div>
        </div>
    </div>
          
</div>    