<div class="container d-flex justify-content-center" style="background-color: #f3efe3;">
<div class="col-md-7">
<br>
<center><h3>Cadastrar Prato</h3></center>
 <br>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="labelPrato">Prato</label>
        <input type="text" class="form-control" id="inputPrato" placeholder="Prato">
      </div>
      <div class="form-group col-md-6">
        <label for="labelPreco">Preço</label>
        <input type="number" class="form-control" id="inputPreco" placeholder="0">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="labelDescricao">Descrição</label>
        <input type="text" class="form-control" id="inputDescricao" placeholder="Lazanha de 10 queijos">
      </div>

      <div class="form-group col-md-6">
        <label for="labelTipoPrato">Tipo do Prato</label>
        <select id="inputTipoPrato" class="form-control">
          <option selected>Escolher...</option>
          <option>...</option>
        </select>
      </div>
    </div>
    
    <br>

    <div class="form-row">
      <div class="form-group col-md-3">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="check">Queijo</label>
          </div>
      </div>
      <div class="form-group col-md-3">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="Check">tomate</label>
          </div>
      </div>
      <div class="form-group col-md-3">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="check">Queijo</label>
          </div>
      </div>
      <div class="form-group col-md-3">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="Check">tomate</label>
          </div>
      </div>  
      <div class="form-group col-md-3">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="check">Queijo</label>
          </div>
      </div>
      <div class="form-group col-md-3">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="Check">tomate</label>
          </div>
      </div>  
       <div class="form-group col-md-3">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="check">Queijo</label>
          </div>
      </div>
      <div class="form-group col-md-3">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="Check">tomate</label>
          </div>
      </div>    
    </div>

    <br>   
    <button type="submit" class="btn btn-dark">Cadastrar</button>
    <br>
    <br>
  </form>
</div>
</div>