<center><h3>Pratos</h3></center>
<br>
<div class="container">
    <div class="form-row">
        <div class="form-group col-md-8">
            <input class="form-control" id="pesquisar" type="text" placeholder="Search.." style="width: 610px;">
        </div>
        <div class="form-group col-md-4">
            <select id="inputTipo" class="form-control"style="width: 350px;">
                <option selected>Tipos...</option>
                <option>Vegetariano</option>
            </select>
        </div>
    </div>   
<div class="row" id="myDIV">
    <div class="col-sm container mt-4">
         <div class="card" style="width: 21rem;">
            <img class="card-img-top" src="https://t1.rg.ltmcdn.com/pt/images/3/8/4/lasanha_de_carne_moida_com_molho_vermelho_7483_600.jpg" alt="Imagem de capa do card"/>
            <div class="card-body">
                <h5 class="card-title">Lasanha</h5>
                <p class="card-text">amo lasanha.</p>
                <a href="#" class="btn btn-dark">Go Eat</a>
            </div>
        </div>
    </div>

    <div class="col-sm container mt-4">
          <div class="card" style="width: 21rem;">
            <img class="card-img-top" src="https://t1.rg.ltmcdn.com/pt/images/3/8/4/lasanha_de_carne_moida_com_molho_vermelho_7483_600.jpg" alt="Imagem de capa do card"/>
            <div class="card-body">
                <h5 class="card-title">Macarronada</h5>
                <p class="card-text">amo Macarronada.</p>
                <a href="#" class="btn btn-dark">Go Eat</a>
            </div>
        </div>
    </div>

    <div class="col-sm container mt-4">
          <div class="card" style="width: 21rem;">
            <img class="card-img-top" src="https://t1.rg.ltmcdn.com/pt/images/3/8/4/lasanha_de_carne_moida_com_molho_vermelho_7483_600.jpg" alt="Imagem de capa do card"/>
            <div class="card-body">
                <h5 class="card-title">Baiao</h5>
                <p class="card-text">amo Baiao.</p>
                <a href="#" class="btn btn-dark">Go Eat</a>
            </div>
        </div>
    </div>

    <div class="col-sm container mt-4">
         <div class="card" style="width: 21rem;">
            <img class="card-img-top" src="https://t1.rg.ltmcdn.com/pt/images/3/8/4/lasanha_de_carne_moida_com_molho_vermelho_7483_600.jpg" alt="Imagem de capa do card"/>
            <div class="card-body">
                <h5 class="card-title"id="myDIV">Arroz Agrego</h5>
                <p class="card-text">amo Arroz.</p>
                <a href="#" class="btn btn-dark">Go Eat</a>
            </div>
        </div>
    </div>

    <div class="col-sm container mt-4">
         <div class="card" style="width: 21rem;">
            <img class="card-img-top" src="https://t1.rg.ltmcdn.com/pt/images/3/8/4/lasanha_de_carne_moida_com_molho_vermelho_7483_600.jpg" alt="Imagem de capa do card"/>
            <div class="card-body">
                <h5 class="card-title">Pizza</h5>
                <p class="card-text">amo lasanha.</p>
                <a href="#" class="btn btn-dark">Go Eat</a>
            </div>
        </div>
    </div>

    <div class="col-sm container mt-4">
         <div class="card" style="width: 21rem;">
            <img class="card-img-top" src="https://t1.rg.ltmcdn.com/pt/images/3/8/4/lasanha_de_carne_moida_com_molho_vermelho_7483_600.jpg" alt="Imagem de capa do card"/>
            <div class="card-body">
                <h5 class="card-title">Pudin</h5>
                <p class="card-text">amo Pudin.</p>
                <a href="#" class="btn btn-dark">Go Eat</a>
            </div>
        </div>
    </div>
    
</div>  
</div>

<script>
  $(document).ready(function(){
  $("#pesquisar").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myDIV .card").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>