<div class="container d-flex justify-content-center" style="background-color: #f3efe3;">
<div class="col-md-7" >
<br>
  <center><h3>Realizar Pedido</h3></center>
 <br>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="labelPrato"><b>Prato:</b></label>
        <br>
        <label for="labelPrato">Lazanha</label>
      </div>
      <div class="form-group col-md-6">
        <label for="labelPreco"><b>Preço:</b></label>
        <br>
        <label for="labelPreco">50R$</label>
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="labelDescricao"><b>Descrição:</b></label>
        <br>
        <label for="labelDescricao">Lazanha de queijo</label>
      </div>

      <div class="form-group col-md-6">
        <label for="labelTipoPrato"><b>Tipo:</b></label>
        <br>
        <label for="labelTipoPrato">Massa</label>
      </div>
    </div>

    <br>   
    <button type="submit" class="btn btn-dark"><b>Pedir</b></button>
    <br>
    <br>
  </form>
</div>
</div>