<div class="col-md-7" style="width: 700px; margin: 0 auto;">
  <h3>Cadastrar Produto</h3>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Produto</label>
        <input type="text" class="form-control" id="inputProduto" placeholder="Produto">
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Quantidade</label>
        <input type="number" class="form-control" id="inputQuantidade" placeholder="Quantidade">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputAddress">Data da Compra</label>
        <input type="date" class="form-control" id="inputDCompra" placeholder="00/00/0000">
      </div>
      <div class="form-group col-md-6">
        <label for="inputAddress">Data da Validade</label>
        <input type="date" class="form-control" id="inputDValidade" placeholder="00/00/0000">
      </div>
    </div>
    <br>   
    <button type="submit" class="btn btn-dark">Cadastrar</button>
  </form>
</div>