<div class="container d-flex justify-content-center" style="background-color: #f3efe3;">   
<div class="col-md-7">
  <br>
  <center><h3>Cadastrar Produto</h3></center>
  <br>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="labelProduto">Produto</label>
        <input type="text" class="form-control" id="inputProduto" placeholder="Produto">
      </div>
      <div class="form-group col-md-3">
        <label for="labelQuantidade">Quantidade</label>
        <input type="number" class="form-control" id="inputQuantidade" placeholder="0">
      </div>
      <div class="form-group col-md-3">
        <label for="labelTipoProduto">Tipo do Produto</label>
        <select id="inputTipoProduto" class="form-control">
          <option selected>Escolher...</option>
          <option>...</option>
        </select>
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="labelDataCompra">Data da Compra</label>
        <input type="date" class="form-control" id="inputDCompra" placeholder="00/00/0000">
      </div>
      <div class="form-group col-md-6">
        <label for="labelDataVenda">Data da Validade</label>
        <input type="date" class="form-control" id="inputDValidade" placeholder="00/00/0000">
      </div>
    </div>

    <br>   
    <button type="submit" class="btn btn-dark">Cadastrar</button>
    <br>
    <br>
  </form>
</div>
</div>